In [18]:
import sqlite3

# Passo 1: Criar uma conexão com o banco de dados 'biblioteca'
conn = sqlite3.connect('biblioteca.db')

# Passo 2: Criar um cursor para executar comandos SQL
cursor = conn.cursor()

# Passo 3: Criar a tabela 'autor'
cursor.execute('''
    CREATE TABLE autor (
        bi INTEGER PRIMARY KEY,
        nome TEXT,
        apelidos TEXT,
        estarVivo BOOLEAN
    )
''')

# Passo 4: Inserir registros na tabela 'autor'
cursor.executemany('INSERT INTO autor VALUES (?, ?, ?, ?)', [
    (1, 'Autor1', 'Apelido1', 1),
    (2, 'Autor2', 'Apelido2', 0),
    (3, 'Autor3', 'Apelido3', 1)
])

# Passo 5: Criar a tabela 'livro'
cursor.execute('''
    CREATE TABLE livro (
        isbn TEXT PRIMARY KEY,
        título TEXT,
        editorial TEXT,
        ano_escrito INTEGER
    )
''')

# Passo 6: Inserir registros na tabela 'livro'
cursor.executemany('INSERT INTO livro VALUES (?, ?, ?, ?)', [
    ('ISBN1', 'Livro1', 'Editorial1', 1890),
    ('ISBN2', 'Livro2', 'Editorial2', 2005),
    ('ISBN3', 'Livro3', 'Editorial3', 2022)
])

# Passo 7: Criar a tabela 'utilizador'
cursor.execute('''
    CREATE TABLE utilizador (
        bi INTEGER PRIMARY KEY,
        nome TEXT,
        apelidos TEXT,
        numEmpréstimos INTEGER
    )
''')

# Passo 8: Inserir registros na tabela 'utilizador'
cursor.executemany('INSERT INTO utilizador VALUES (?, ?, ?, ?)', [
    (101, 'Utilizador1', 'Apelido1', 5),
    (102, 'Utilizador2', 'Apelido2', 12),
    (103, 'Utilizador3', 'Apelido3', 3)
])

# Passo 9: Commit e fechar a conexão
conn.commit()
conn.close()

print("Banco de dados criado e preenchido com sucesso!")

OperationalError: table autor already exists

In [19]:
import sqlite3

conn = sqlite3.connect('biblioteca.db')
cursor = conn.cursor()

# Listar todos os autores
print("Registros na tabela 'autor':")
cursor.execute("SELECT * FROM autor")
for row in cursor.fetchall():
    print(row)

# Listar todos os livros
print("\nRegistros na tabela 'livro':")
cursor.execute("SELECT * FROM livro")
for row in cursor.fetchall():
    print(row)

# Listar todos os utilizadores
print("\nRegistros na tabela 'utilizador':")
cursor.execute("SELECT * FROM utilizador")
for row in cursor.fetchall():
    print(row)

# Listar todos os autores que estejam vivos
print("\nAutores vivos:")
cursor.execute("SELECT * FROM autor WHERE estarVivo = 1")
for row in cursor.fetchall():
    print(row)

# Listar todos os livros escritos após 1900
print("\nLivros escritos após 1900:")
cursor.execute("SELECT * FROM livro WHERE ano_escrito > 1900")
for row in cursor.fetchall():
    print(row)

# Listar todos os utilizadores com mais de 10 empréstimos
print("\nUtilizadores com mais de 10 empréstimos:")
cursor.execute("SELECT * FROM utilizador WHERE numEmpréstimos > 10")
for row in cursor.fetchall():
    print(row)

conn.close()

Registros na tabela 'autor':
(1, 'Autor1', 'Apelido1', 1)
(2, 'Autor2', 'Apelido2', 0)
(3, 'Autor3', 'Apelido3', 1)

Registros na tabela 'livro':
('ISBN1', 'Livro1', 'Editorial1', 1890)
('ISBN2', 'Livro2', 'Editorial2', 2005)
('ISBN3', 'Livro3', 'Editorial3', 2022)

Registros na tabela 'utilizador':
(101, 'Utilizador1', 'Apelido1', 5)
(102, 'Utilizador2', 'Apelido2', 12)
(103, 'Utilizador3', 'Apelido3', 3)

Autores vivos:
(1, 'Autor1', 'Apelido1', 1)
(3, 'Autor3', 'Apelido3', 1)

Livros escritos após 1900:
('ISBN2', 'Livro2', 'Editorial2', 2005)
('ISBN3', 'Livro3', 'Editorial3', 2022)

Utilizadores com mais de 10 empréstimos:
(102, 'Utilizador2', 'Apelido2', 12)